IMAP_SERVER=imap.gmail.com
IMAP_PORT=993
IMAP_USER=cv@company.com
IMAP_PASSWORD="1234 5678 1234 5678"

POSTGRES_USER=ats
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ats_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DASHSCOPE_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
